@charset 'UTF-8';

$cian: hsl(171, 66%, 37%);
$cian2: hsl(171, 69%, 48%);
$blue: hsl(233, 100%, 69%);
$blue2: hsl(233, 79%, 64%);
$dgblue: hsl(210, 10%, 33%);
$gblue: hsl(201, 11%, 66%);
$gblue2:hwb(200 92% 5%);